{% extends "base.html" %}
{% load static %}


{% block body %}

<main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="{% static '' %}assets/img/banner/page-banner-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>About Us</h3>
                        <p>A wonderful serenity has taken possession of my entire soul, like these <br> sweet mornings of spring which I enjoy with my whole heart.</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="/" class="st-btn-4">Discover now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->

    <br>
<!-- location-area-start -->
{% for i in setting %}
<div class="location-area pt-70 pb-25">
    <div class="container">
        <div class="row mb-25">
            <div class="col-xl-12">
                    {{i.about | safe}}
            </div>
        </div>
    </div>
</div>
<!-- cmamps-area-start -->


<div class="cmamps-area">
    {{i.google_map| safe}}
</div>
{% endfor %}

<!-- cmamps-area-end -->


  
</main>


{% endblock body %}
