{% load static %}
{% block slider %}


<!-- slider-area-start -->
<div class="slider-area light-bg-s pt-60">
    <div class="container custom-conatiner">
        <div class="row">
            <div class="col-xl-7">
                <div class="swiper-container slider__active pb-30">

                    <div class="slider-wrapper swiper-wrapper">
                        {% for i in slider %}
                        <div class="single-slider swiper-slide b-radius-2 slider-height-2 d-flex align-items-center" data-background="{{i.image.url}}">
                            
                        </div><!-- /single-slider -->
                        {% endfor %}
                        
                        <div class="main-slider-paginations"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="row">
                    {% for i in main_category %}
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img b-radius-2">
                                <a href="#"><img src="{{i.image.url}}" style="height: 150px;" alt=""></a>
                            </div>
                            <div class="banner__content banner__content-2">
                                <h6><a href="#">{{i.title}}</a></h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->


{% endblock slider %}
